<md-content class="body-content">
	<md-content>
		<h2>Buttons</h2>
		<button pButton type="button" label="Submit"></button>

		<!--		<p-growl [value]="msgs"></p-growl>
				<p-splitButton label="Save" icon="fa-check" (onClick)="save()">
					<p-splitButtonItem icon="fa-close" label="Delete" (onClick)="delete()"></p-splitButtonItem>
					<p-splitButtonItem icon="fa-refresh" label="Update" (onClick)="update()"></p-splitButtonItem>
					<p-splitButtonItem icon="fa-link" label="Angular.io" url="http://angular.io"></p-splitButtonItem>
					<p-splitButtonItem icon="fa-paint-brush" label="Theming" [url]="['Theming']"></p-splitButtonItem>
				</p-splitButton>-->
	</md-content>

	<md-content>
		<h2>Icon Buttons</h2>
		<button pButton type="button" icon="fa-check" iconPos="left"></button>
		<button pButton type="button" icon="fa-link" iconPos="left"></button>
		<button pButton type="button" icon="fa-paint-brush" iconPos="left"></button>
	</md-content>

	<md-content>
		<h2>Checkboxes</h2>
		<h3 class="first">Basic</h3>
		<div class="ui-g-12">
			<p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities"></p-checkbox>
		</div>
		<div class="ui-g-12">
			<p-checkbox name="group1" value="San Francisco" label="San Francisco"
						[(ngModel)]="selectedCities"></p-checkbox>
		</div>
		<div class="ui-g-12">
			<p-checkbox name="group1" value="Los Angeles" label="Los Angeles"
						[(ngModel)]="selectedCities"></p-checkbox>
		</div>


		Selected Cities: <span *ngFor="let city of selectedCities" style="margin-right:10px">{{city}}</span>

		<h3>Preselection</h3>
		<div class="ui-g" style="width:250px;margin-bottom:10px">
			<div class="ui-g-12">
				<p-checkbox name="group2" value="Technology" label="Technology"
							[(ngModel)]="selectedCategories"></p-checkbox>
			</div>
			<div class="ui-g-12">
				<p-checkbox name="group2" value="Finance" label="Finance" [(ngModel)]="selectedCategories"></p-checkbox>
			</div>
			<div class="ui-g-12">
				<p-checkbox name="group2" value="Sports" label="Sports" [(ngModel)]="selectedCategories"></p-checkbox>
			</div>
			<div class="ui-g-12">
				<p-checkbox name="group2" value="Entertainment" label="Entertainment"
							[(ngModel)]="selectedCategories"></p-checkbox>
			</div>
		</div>

		Selected Categories: <span *ngFor="let cat of selectedCategories" style="margin-right:10px">{{cat}}</span>

		<h3>Boolean - {{checked}}</h3>
		<p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
	</md-content>

	<md-content>
		<h2>Radio Button</h2>
		<h3 class="first">Basic</h3>
		<div class="ui-g">
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="valueOne"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="valueOne"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="valueOne"></p-radioButton>
			</div>
		</div>
		Selected Value = {{valueOne||'none'}}

		<h3>Preselection</h3>
		<div class="ui-g" style="width:250px;margin-bottom:10px">
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="valueTwo"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="valueTwo"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="valueTwo"></p-radioButton>
			</div>
		</div>
		Selected Value = {{valueTwo||'none'}}
	</md-content>

	<md-content>
		<h2>List</h2>
		<h3 class="first">Single</h3>
		<p-listbox [options]="cities" [(ngModel)]="selectedCity"></p-listbox>

		<p>Selected City: {{selectedCity}}</p>

		<h3>Multiple</h3>
		<p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple"></p-listbox>
		<p>Selected Cities: <span *ngFor="let c of selectedCities">{{c}}</span></p>

	</md-content>
	<md-content>
		<h2>Dropdown</h2>
		<h3 class="first">Single</h3>
		<p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
		<p>Selected City: {{selectedCity||'none'}}</p>

	</md-content>


	<md-content class="body-content">
		<md-content>
			<h2>Input</h2>
			<input type="text" pInputText/>
			<ui-password-panel>
				<h3 class="first">Password</h3>
				<input type="text" pPassword prompt="Please enter a password"/>

			</ui-password-panel>
		</md-content>


		<md-content class="body-content">
			<md-content>
				<h2>Dialog</h2>
				<p-dialog header="Fresh Prince" [(visible)]="display" modal="modal" showEffect="fade">
					<p>Here's a little story all about how, my life got flipped, turned upside down.</p>
					<footer>
						<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
							<button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
							<button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
						</div>
					</footer>
				</p-dialog>
				<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>
			</md-content>
		</md-content>
	</md-content>

	<md-content>
		<h2>Datatable</h2>
		<h3 class="first">Basic</h3>
		<p-dataTable [value]="cars">
			<p-column field="model" header="Model" filter="true"></p-column>
			<p-column field="make" header="Make" filter="true"></p-column>
			<p-column field="color" header="Color" filter="true"></p-column>
		</p-dataTable>
	</md-content>


	<md-content>
		<p-growl [value]="msgs"></p-growl>
		<h2>Tabs</h2>
		<h3 class="first">Default</h3>
		<p-tabView>
			<p-tabPanel header="Godfather I" leftIcon="fa-calendar">
				The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's
				wedding. His beloved son ichael has just come home from the war, but does not intend to become part of
				his father's business. T hrough Michael's life the nature of the family business becomes clear. The
				business of the family is just like the head of the family, kind and benevolent to those who give
				respect, but given to ruthless violence whenever anything stands against the good of the family.
			</p-tabPanel>
			<p-tabPanel header="Godfather II" leftIcon="fa-print">
				Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather
				parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening
				The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito
				flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a
				living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black
				Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's
				communal stature grows.
			</p-tabPanel>
			<p-tabPanel header="Godfather III" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
				After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
				well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
				crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
				promise that his family would one day be completely legitimate.
			</p-tabPanel>
		</p-tabView>

		<h3>Closable</h3>
		<p-tabView>
			<p-tabPanel header="Godfather I" [selected]="true">
				The story begi ns as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's
				wedding. His beloved son ichael has just come home from the war, but does not intend to become part of
				his father's business. T hrough Michael's life the nature of the family business becomes clear. The
				business of the family is just like the head of the family, kind and benevolent to those who give
				respect, but given to ruthless violence whenever anything stands against the good of the family.
			</p-tabPanel>
			<p-tabPanel header="Godfather II" [closable]="true">
				Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather
				parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening
				The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito
				flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a
				living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black
				Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's
				communal stature grows.
			</p-tabPanel>
			<p-tabPanel header="Godfather III" [closable]="true">
				After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
				well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
				crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
				promise that his family would one day be completely legitimate.
			</p-tabPanel>
		</p-tabView>
	</md-content>

	<md-content>
		<h2>Progress Bar</h2>
		<p-progressBar [value]="value"></p-progressBar>
	</md-content>
</md-content>

